@import '../reset.scss';
@import '../vars.scss';


.blogOne {
    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__formTitle {
        margin-bottom: 25px;
        color: $title;
        font-family: 'Open Sans', sans-serif;
        line-height: 23px;
    }

    &__formTextarea {
        width: 100%;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        padding: 14px 17px;
        min-height: 125px;
        margin-bottom: 12px;
        resize: none;

        &::placeholder {
            color: #A1A1A1;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            font-family: 'Open Sans', sans-serif;
        }
    }

    &__formInput {
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 20px;
        width: 48%;

        &::placeholder {
            color: #A1A1A1;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            font-family: 'Open Sans', sans-serif;
        }
    }

    &__formLabel {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        color: #A1A1A1;
    }

    &__formBtn {
        border: none;
        background-color: $title;
        color: #fffff0;
        font-weight: 600;
        border-radius: 21px;
        padding: 6px 60px;
        cursor: pointer;
    }
}