.about__popup {
    background-image: url('../../media/popup-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
}